<header class="site-header">

  <div class="wrapper">
    <!-- <a class="site-title" href="{{ site.baseurl }}/">首页</a> -->
    <a href="/index" class="site-title {% if page.title == 'drawing' or page.categories[0] == 'drawing' %}selected{% endif %}">Drawing</a>
    <a href="/article" class="site-title {% if page.title == 'article' or page.categories[0] == 'article' %}selected{% endif %}">Article</a>
    <a href="/video" class="site-title {% if page.title == 'video' or page.categories[0] == 'video' %}selected{% endif %}">Video</a>
    <a href="/about" class="site-title {% if page.title == 'about' %}selected{% endif %}">About</a>
  </div>
</header>
